.ce {
  display: table;
  margin: 0 auto;
  width:70%;
  align-content: center;
  text-align: center;
  margin-top: 0.5rem;

} 
.pretty {display: table;
  background:
    linear-gradient(rgba(228, 228, 225, 0.692), transparent),
    linear-gradient(to top left, rgba(112, 112, 106, 0.486), transparent),
    linear-gradient(to top right, rgba(10, 8, 8, 0.637), transparent);
  background-blend-mode: screen;
  height: 100vh;
	
}

input {display: inline;
 
  width:100%; height: 35%; font-size: 1.5rem;
  align-content: center;
  text-align: center;
  
  font-weight: 300;
  
}
label{font-variant: small-caps;font-weight: 600;}

.grid {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: stretch;
  align-items: stretch;

}
.grid-container > div {border: none 0.1px; padding-top: 20px;justify-content: center;}

h1{text-align: center;
  margin-top: 20px;color:#1900ff;
  font-variant: small-caps;
  font-weight: 200;}
.container{margin: 0 auto; width: 90vw;}
.card {background: rgba(77, 77, 77, 0.22);
  width: 100%;
  padding: 0.62rem;
  margin: 0.3rem;
}
body{width: 100%;}


